body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    background-color: #ffffff;
}

h1 {
    font-weight: normal;
    font-size: 35px;
    text-align: center;
    margin-top: 65px;
}

h2 {
    font-weight: normal;
    font-size: 20px;
    text-align: center;
}

h3 {
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 0;
    text-align: center;
}

p {
    margin-top: 5px;
    text-align: center;
}

div#ios-install {
    position: absolute;
    top: 370px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}

.background {
    background-color: #a80c2f;
    height: 150px;
    width: 100%;
}

.page-content {
    background-color: #ffffff;
    border-radius: 20px;
    top: -20px;
    position: relative;
    padding: 20px;
    height: 120%;
}

.app-visualization {
    background-image: url("phone.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    margin: auto;
    border-radius: 30px;
    top: -150px;
    position: relative;
}

.app-credits {
    position: relative;
    top: -150px;
    margin: 0 auto;
    width: fit-content;
}

.app-logo {
    background-image: url("src/icons/192.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 20px 0px #9c9c9c;
    border-radius: 20%;
    height: 60px;
    width: 60px;
    float: left;
}

.app-name {
    float: left;
    vertical-align: middle;
    line-height: 60px;
    padding-left: 10px;
    font-size: 30px;
    color: #a80c2f;
}

.app-install {
    background-color: #a80c2f;
    border: solid 0px;
    color: #ffffff;
    position: absolute;
    display: block;
    top: 370px;
    padding: 15px 20px 15px 20px;
    font-size: 17px;
    border-radius: 20px;
    width: 150px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.install-help {
    background-color: #a80c2f;
    border: solid 0px;
    color: #ffffff;
    position: absolute;
    display: none;
    top: 370px;
    padding: 15px 20px 15px 20px;
    font-size: 17px;
    border-radius: 20px;
    width: 200px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.see-more {
    text-align: center;
    font-size: 15px;
    position: absolute;
    bottom: 20px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}

/*.see-more div {
    margin: auto;
    background-image: url("down-arrow.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    animation-name: downarrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}*/

@keyframes downarrow {
    0%   {transform: translateY(-10px);}
    50%  {transform: translateY(0px);}
    100% {transform: translateY(-10px);}
}

.loading-screen {
    height: 100%;
    width: 100%;
    background-color: #f9f9f9;
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 1s ease-in-out;
    /*display: none;*/
}

.loading-logo {
    position: absolute;
    height: 130px;
    width: 130px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    margin: auto;
    background-image: url("src/icons/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.loading-circle {
    position: absolute;
    height: 130px;
    width: 130px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    margin: auto;
    background-image: url("app/loading.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.loading-footer {
    position: absolute;
    height: 65px;
    width: 130px;
    bottom: 50px;
    left: 0;
    right: 0;
    z-index: 2;
    margin: auto;
    background-image: url("app/su.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}