body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}

.page {
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
}

.heading {
    width: 100%;
    background-color: #ffffff;
    height: 8vh;
    box-shadow: 0px 0px 30px 2px #c7c7c7;
}

.logo {
    width: 8vh;
    height: 8vh;
    background-image: url(logo.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

.wizard-price {
    height: 8vh;
    float: right;
    line-height: 8vh;
    padding-right: 15px;
}

.page-content {
    height: 85vh;
    width: 100%;
    box-sizing: border-box;
    padding: 25px;
    overflow: auto;
}

.wizard-footer {
    width: 100%;
    background-color: #ffffff;
    height: 7vh;
    box-shadow: 0px 0px 30px 2px #c7c7c7;
    position: fixed;
    bottom: 0;
}

.wizard-button {
    height: 100%;
    width: 50%;
    box-sizing: border-box;
    padding: 0 15px 0 15px;
    line-height: 7vh;
    color: #af3557;
}

.wizard-progress-bar {
    width: 0%;
    background-color: #af3557;
    height: 5px;
    transition: width 1s cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    top: 0;
}

h1 {
    font-weight: normal;
    margin: 0 0 10px 0;
}

h2 {
    font-weight: normal;
    margin: 0 0 10px 0;
}

h3 {
    font-weight: normal;
    margin: 0 0 10px 0;
}

h4 {
    font-weight: normal;
    margin: 0 0 10px 0;
}

h5 {
    font-weight: normal;
    margin: 0 0 10px 0;
}

td {
    line-height: 40px;
    text-align: left;
    padding: 5px;
    font-size: 20px;
    min-width: 105px;
}

.flowers-select button {
    width: 40px;
    height: 40px;
    background-color: #af3557;
    border: 0;
    color: #ffffff;
    border-radius: 20px;
}

.choice-button {
    height: 40px;
    border: 0;
    color: #ffffff;
    border-radius: 20px;
    margin: 5px;
    padding: 0 15px 0 15px;
}

input[type="checkbox"] {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

input[type="text"], select {
    width: 80%;
    height: 40px;
    border-radius: 10px;
    border: solid 0px;
    padding-left: 10px;
    background-color: #f6f6f6;
    font-size: 15px;
}

.menu-button {
    height: 40px;
    border: 0;
    background-color: #af3557;
    color: #ffffff;
    border-radius: 20px;
    margin: 5px;
    padding: 0 15px 0 15px;
}

.small-form {
    width: 315px;
    height: 222px;
    background-image: url("small_form.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    border: 1px dashed;
}

.small-form span {
    position: relative;
    width: 20px;
    text-align: center;
    display: block;
    color: #ff0000;
}

.big-form {
    width: 296px;
    height: 420px;
    background-image: url("big_form.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    border: 1px dashed;
}

.big-form span {
    position: relative;
    width: 20px;
    text-align: center;
    display: block;
    color: #ff0000;
}